# (Voron Micron R1 120mm)
#  mcu m8p w/ cb1, ebb36 canboard, cartographer probe canbus_uuid=9dcdae64e054, rapidburner with rapido v2, bondtech lgx lite extruder 

[include mainsail.cfg]
[include KAMP_Settings.cfg]
[skew_correction]
[exclude_object]
[include macro.cfg]

#####################################################################
#   UUID Settings
#####################################################################
[mcu]
canbus_uuid: 81c23e48c11c

[mcu EBBCan]
canbus_uuid: d97abc93eb57


[printer]
kinematics: corexy
max_velocity: 300 # Adjusted for smaller size
max_accel: 5000 # Adjusted for smaller size
max_z_velocity: 20 # Adjusted for smaller size
max_z_accel: 300 # Adjusted for smaller size
square_corner_velocity: 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor) 
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
rotation_distance: 32
microsteps: 64
full_steps_per_rotation:200 
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 120 
position_max: 120 
homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC10
diag_pin: ^PF3
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 65  # 255 is most sensitive value, 0 is least sensitive


## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
rotation_distance: 32
microsteps: 64
full_steps_per_rotation:200 
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 130 
position_max: 130
homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PF13
diag_pin: ^PF4
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 75  # 255 is most sensitive value, 0 is least sensitive

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3 
[stepper_z]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: ^PF5
endstop_pin: probe:z_virtual_endstop

position_max: 110 # Adjusted for smaller size
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: false
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: false
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z2 Stepper - Rear Right on Motor5
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: false
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0



##	Z3 Stepper - Front Right on Motor6
[stepper_z3]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PF8
interpolate: false
run_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   EXTRUDER Settings
#####################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 64
rotation_distance: 5.7
#gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13

sensor_type:MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

# sensor_type: PT1000
# sensor_pin: PA5
# #   Analog input pin connected to the sensor. This parameter must be
# #   provided.
# #pullup_resistor: 4700
# #   The resistance (in ohms) of the pullup attached to the sensor. The
# #   default is 4700 ohms.

pressure_advance: 0.036
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
min_extrude_temp: 0
max_extrude_cross_section: 5
max_extrude_only_distance: 500


[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.65
stealthchop_threshold: 0 #999999

#####################################################################
#   BED Settings
#####################################################################

[heater_bed]
heater_pin: PB9
sensor_type: Generic 3950
sensor_pin: PA0
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

# [temperature_sensor buildplate]
# sensor_type: Generic 3950
# sensor_pin: PA1
# min_temp: -40
# max_temp: 120

# [temperature_sensor chamber]
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: EBBCan: PA3
# #pullup_resistor: 4700   # Add this line if using a 4.7k pull-up resistor
# min_temp: -40
# max_temp: 100

# [temperature_sensor EBB_NTC]
# sensor_type: Generic 3950
# sensor_pin: EBBCan: PA2
# min_temp: -40
# max_temp: 100

[temperature_sensor CB1]
sensor_type: temperature_host

#####################################################################
#   PROBE Settings
#####################################################################

[scanner]
canbus_uuid: 9dcdae64e054             
#adjust to suit your scanner 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#adjust for your offset
y_offset: 30
#adjust for your offset
calibration_method: touch 
sensor: cartographer
sensor_alt: carto
#alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.05         
#this is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
    

[quad_gantry_level]
gantry_corners:
   -57.33,-9.51
   177.53,184.15
#Probe points
points:
   20,5
   20,80
   100,80
   100,5

speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.008
max_adjust: 10

[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
  
    G90              ; Set to absolute positioning
    G1 X60 Y60 F6000       ; Move to X60 Y60 at 100mm/s before homing Z
    G28 Z
    G1 Z10
  {% endif %}

# [safe_z_home]
# home_xy_position: 60,60
# z_hop: 10

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 95,95
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2
zero_reference_position: 60, 60    

#####################################################################
#   RESONANCE Settings
#####################################################################

 #[adxl345]
 #cs_pin: EBBCan: PB12
 #spi_software_sclk_pin: EBBCan: PB10
 #spi_software_mosi_pin: EBBCan: PB11
 #spi_software_miso_pin: EBBCan: PB2
 #axes_map: z,-y,x

 #[resonance_tester]
 #probe_points: 115, 115, 20
 #accel_chip: adxl345

#####################################################################
#   FAN Settings
#####################################################################

[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
off_below: 0.5

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

#[multi_pin controller_fans]
#pins: 

#[controller_fan controller_fan]
##  Controller fan
#pin: multi_pin:controller_fans
#max_power: 0.4
#kick_start_time: 0.5
#heater: heater_bed

#[output_pin nevermore]
#  Exhaust fan - Nevermore Filter
#pin: PC12
#value: 0
#shutdown_value: 0

# [display]
# #	mini12864 LCD Display
# lcd_type: uc1701
# cs_pin: EXP1_3
# a0_pin: EXP1_4
# rst_pin: EXP1_5
# encoder_pins: ^EXP2_5, ^EXP2_3
# click_pin: ^!EXP1_2
# contrast: 63
# spi_software_miso_pin: EXP2_1
# spi_software_mosi_pin: EXP2_6
# spi_software_sclk_pin: EXP2_2

# [neopixel btt_mini12864]
# #	To control Neopixel RGB in mini12864 display
# pin: EXP1_6
# chain_count: 3
# initial_RED: 0.0
# initial_GREEN: 1.0
# initial_BLUE: 0.0
# color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 


#################################################
################### Disco Led ###################
#################################################
#[neopixel disco1]
# pin: PA9
# chain_count: 25
# color_order: GRB
# initial_RED: 1.0
# initial_GREEN: 1.0
# initial_BLUE: 1.0

# [neopixel disco2]
# pin: PB15
# chain_count: 25
# color_order: GRB
# initial_RED: 1.0
# initial_GREEN: 1.0
# initial_BLUE: 1.0

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PE9, EXP1_2=PE10,
#     EXP1_3=PE11, EXP1_4=PE12,
#     EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
#     EXP1_7=PE15, EXP1_8=PB10,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PB14, EXP2_2=PB13,
#     EXP2_3=PF7, EXP2_4=PB12,
#     EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
#     EXP2_7=PE8, EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=PC5

# Enable firmware retraction
[firmware_retraction]

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.599
#*# pid_ki = 1.710
#*# pid_kd = 81.418
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.794
#*# pid_ki = 2.299
#*# pid_kd = 208.571
#*#
#*# [scanner model default]
#*# model_coef = 1.421983444092808,
#*# 	  1.8591303808206336,
#*# 	  0.7608907225972911,
#*# 	  0.32793005449573936,
#*# 	  0.3614450563626022,
#*# 	  0.38915661903634435,
#*# 	  -0.20002103244428895,
#*# 	  -0.32573891636581687,
#*# 	  0.20697272653392673,
#*# 	  0.20166224576758454
#*# model_domain = 3.2684622136069585e-07,3.359641460021918e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 27.239346
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*# scanner_touch_threshold = 1500
